KAMAL_REGISTRY_PASSWORD="Docker registry password"
RAILS_MASTER_KEY="Rails master key"
SMTP_PASSWORD="SMTP password"
SMTP_PORT="SMTP port"
SMTP_SERVER="SMTP server"
SMTP_USERNAME="SMTP username"
POSTGRES_USER="postgres_user"
POSTGRES_PASSWORD="postgres_password"
POSTGRES_DB="postgres_db"
DATABASE_URL="postgresql://postgres_user:postgres_password@ip_address:5432/postgres_db"
REDIS_URL="redis://ip_address:6379/0"
